@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body {
  background-color: rgb(201, 246, 246);
  font-family: 'Roboto', sans-serif;
}

@media (max-width: 768px) {
  table {
    min-width: 768px;
  }
  .table-wrapper {
    overflow-x: scroll;
  }
}